fastapi==0.136.0
joblib==1.5.3
lightgbm==4.6.0
mlflow==3.9.0
mlflow-skinny==3.9.0
mlflow-tracing==3.9.0
numpy==2.4.4
pandas==3.0.2
pydantic==2.13.3
requests==2.33.1
scikit-learn==1.8.0
streamlit==1.55.0
xgboost==3.2.0
